In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/07 10:26:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

/opt/homebrew/Cellar/apache-spark/3.3.2/libexec/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [8]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

23/03/07 09:55:48 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers
23/03/07 09:55:48 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers
23/03/07 09:55:49 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [6]:
df_yellow.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [7]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [9]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [9]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [10]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [12]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

23/03/07 09:56:33 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers
23/03/07 09:56:33 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers
23/03/07 09:56:33 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers

In [11]:
df_join = spark.read.parquet('data/report/revenue/total')

In [12]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  24|              87.6|                   3|              null|                 null|
|2020-01-01 00:00:00|  40|168.98000000000002|                   8|              null|                 null|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|              null|                 null|
|2020-01-01 00:00:00|  92|             80.72|                   3|              null|                 null|
|2020-01-01 00:00:00| 153|              25.0|                   1|              null|                 null|
|2020-01-01 00:00:00| 160|              11.3|                   1|              null|                 null|
|2020-01-01 00:00:00| 166| 504.0100000000001|                  33|              null|                 null|
|2020-01-01 00:00:00| 192|              12.3|                   1|              null|                 null|
|2020-01-01 00:00:00| 215| 546.3600000000001|                  18|              null|                 null|
|2020-01-01 00:00:00| 250|            114.17|                   6|              null|                 null|
|2020-01-01 00:00:00| 259|            131.24|                   7|              null|                 null|
|2020-01-01 01:00:00|   1|              null|                null| 271396.4999999876|                14774|
|2020-01-01 01:00:00|   3|46.230000000000004|                   2|461.95000000000005|                   10|
|2020-01-01 01:00:00|  16| 72.96000000000001|                   2|              null|                 null|
|2020-01-01 01:00:00|  25| 307.7900000000001|                  16|              null|                 null|
|2020-01-01 01:00:00|  36|            192.41|                   9|              null|                 null|
|2020-01-01 01:00:00|  42| 528.8100000000003|                  32|              null|                 null|
|2020-01-01 01:00:00|  43|             21.76|                   2|              null|                 null|
|2020-01-01 01:00:00|  62|             143.8|                   6|              null|                 null|
|2020-01-01 01:00:00|  66|326.46000000000015|                  17|              null|                 null|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [13]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [15]:
df_zones.write.parquet('zones')

In [16]:
df_zones = spark.read.parquet('zones/')

In [18]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  24|              87.6|                   3|              null|                 null|
|2020-01-01 00:00:00|  40|168.98000000000002|                   8|              null|                 null|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|              null|                 null|
|2020-01-01 00:00:00|  92|             80.72|                   3|              null|                 null|
|2020-01-01 00:00:00| 153|              25.0|                   1|              null|                 null|
|2020-01-01 00:00:00| 160|              11.3|                   1|              null|                 null|
|2020-01-01 00:00:00| 166| 504.0100000000001|                  33|              null|                 null|
|2020-01-01 00:00:00| 192|              12.3|                   1|              null|                 null|
|2020-01-01 00:00:00| 215| 546.3600000000001|                  18|              null|                 null|
|2020-01-01 00:00:00| 250|            114.17|                   6|              null|                 null|
|2020-01-01 00:00:00| 259|            131.24|                   7|              null|                 null|
|2020-01-01 01:00:00|   1|              null|                null| 271396.4999999876|                14774|
|2020-01-01 01:00:00|   3|46.230000000000004|                   2|461.95000000000005|                   10|
|2020-01-01 01:00:00|  16| 72.96000000000001|                   2|              null|                 null|
|2020-01-01 01:00:00|  25| 307.7900000000001|                  16|              null|                 null|
|2020-01-01 01:00:00|  36|            192.41|                   9|              null|                 null|
|2020-01-01 01:00:00|  42| 528.8100000000003|                  32|              null|                 null|
|2020-01-01 01:00:00|  43|             21.76|                   2|              null|                 null|
|2020-01-01 01:00:00|  62|             143.8|                   6|              null|                 null|
|2020-01-01 01:00:00|  66|326.46000000000015|                  17|              null|                 null|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [17]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [19]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [20]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|  24|              87.6|                   3|              null|                 null|        24|Manhattan|        Bloomingdale| Yellow Zone|
|2020-01-01 00:00:00|  40|168.98000000000002|                   8|              null|                 null|        40| Brooklyn|     Carroll Gardens|   Boro Zone|
|2020-01-01 00:00:00|  49|266.76000000000005|                  14|              null|                 null|        49| Brooklyn|        Clinton Hill|   Boro Zone|
|2020-01-01 00:00:00|  92|             80.72|                   3|              null|                 null|        92|   Queens|            Flushing|   Boro Zone|
|2020-01-01 00:00:00| 153|              25.0|                   1|              null|                 null|       153|Manhattan|         Marble Hill|   Boro Zone|
|2020-01-01 00:00:00| 160|              11.3|                   1|              null|                 null|       160|   Queens|      Middle Village|   Boro Zone|
|2020-01-01 00:00:00| 166| 504.0100000000001|                  33|              null|                 null|       166|Manhattan| Morningside Heights|   Boro Zone|
|2020-01-01 00:00:00| 192|              12.3|                   1|              null|                 null|       192|   Queens|     Queensboro Hill|   Boro Zone|
|2020-01-01 00:00:00| 215| 546.3600000000001|                  18|              null|                 null|       215|   Queens|       South Jamaica|   Boro Zone|
|2020-01-01 00:00:00| 250|            114.17|                   6|              null|                 null|       250|    Bronx|Westchester Villa...|   Boro Zone|
|2020-01-01 00:00:00| 259|            131.24|                   7|              null|                 null|       259|    Bronx|  Woodlawn/Wakefield|   Boro Zone|
|2020-01-01 01:00:00|   1|              null|                null| 271396.4999999876|                14774|         1|      EWR|      Newark Airport|         EWR|
|2020-01-01 01:00:00|   3|46.230000000000004|                   2|461.95000000000005|                   10|         3|    Bronx|Allerton/Pelham G...|   Boro Zone|
|2020-01-01 01:00:00|  16| 72.96000000000001|                   2|              null|                 null|        16|   Queens|             Bayside|   Boro Zone|
|2020-01-01 01:00:00|  25| 307.7900000000001|                  16|              null|                 null|        25| Brooklyn|         Boerum Hill|   Boro Zone|
|2020-01-01 01:00:00|  36|            192.41|                   9|              null|                 null|        36| Brooklyn|      Bushwick North|   Boro Zone|
|2020-01-01 01:00:00|  42| 528.8100000000003|                  32|              null|                 null|        42|Manhattan|Central Harlem North|   Boro Zone|
|2020-01-01 01:00:00|  43|             21.76|                   2|              null|                 null|        43|Manhattan|        Central Park| Yellow Zone|
|2020-01-01 01:00:00|  62|             143.8|                   6|              null|                 null|        62| Brooklyn| Crown Heights South|   Boro Zone|
|2020-01-01 01:00:00|  66|326.46000000000015|                  17|              null|                 null|        66| Brooklyn|  DUMBO/Vinegar Hill|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [25]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

23/03/07 10:34:39 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers
23/03/07 10:34:39 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 84.47% for 8 writers
23/03/07 10:34:40 WARN MemoryManager: Total allocation exceeds 95.00% (906,992,014 bytes) of heap memory
Scaling row group sizes to 96.54% for 7 writers