In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.3/384.3 kB 29.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.5-cp39-cp39-linux_x86_64.whl size=166862 sha256=d09825fa28ce1af3981661a759f74e14be176138120df60038e7970bc85d5144
  Stored in directory: /home/ram/.cache/pip/wheels/37/c1/ad/4ee49165718dff2c018c9830204ef8e749afdce7919f078586
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

In [8]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [21]:
engine.connect()

In [19]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-24 08:01:16--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 20.207.73.82
Connecting to github.com (github.com)|20.207.73.82|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T080116Z&X-Amz-Expires=300&X-Amz-Signature=88341c7fec73d2ad2ecfbced878811643050534989e63e2ed69943f16d17366e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-24 08:01:16--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230124%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230124T080116Z&X-Amz-Expires=300&X-Amz-Signature=88341c7fec73d2ad2ecfbced878811643050534989e63e2ed69943f16d17366e&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

green_tripdata_2019 100%[===================>]  10.58M  --.-KB/s    in 0.05s

2023-01-24 08:01:16 (207 MB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

In [14]:
# !gzip -d green_tripdata_2019-01.csv.gz

In [20]:
df = pd.read_csv("green_tripdata_2019-01.csv.gz")

In [23]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [34]:
df_itr = pd.read_csv("green_tripdata_2019-01.csv.gz", iterator=True, chunksize=10000)

In [35]:
df = next(df_itr)

In [36]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [37]:
print(pd.io.sql.get_schema(df, name="abc", con=engine))

CREATE TABLE abc (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [38]:
df.head(0).to_sql(name="green_taxi_data", con=engine, if_exists='replace')

0

In [44]:
%time df.to_sql(name="green_taxi_data", con=engine, if_exists='append')

CPU times: user 444 ms, sys: 0 ns, total: 444 ms
Wall time: 961 ms

1000

In [45]:
query = """ select count(1) from green_taxi_data """
pd.read_sql(query, con=engine)

   count
0  10000

In [46]:
from time import time

In [49]:
while True:
    begin_time = time()
    df = next(df_itr)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name="green_taxi_data", con=engine, if_exists='append')
    end_time = time()
    print(f"inserted 10,000 data in {end_time - begin_time}")

inserted 10,000 data in 0.972832441329956
inserted 10,000 data in 1.0491571426391602
inserted 10,000 data in 0.9561512470245361
inserted 10,000 data in 0.957766056060791
inserted 10,000 data in 1.018458604812622
inserted 10,000 data in 0.9574840068817139
inserted 10,000 data in 0.964644193649292
inserted 10,000 data in 1.0441920757293701
inserted 10,000 data in 0.9508042335510254
inserted 10,000 data in 0.9421918392181396
inserted 10,000 data in 0.954315185546875
inserted 10,000 data in 1.0225121974945068
inserted 10,000 data in 0.9701879024505615
inserted 10,000 data in 0.9602999687194824
inserted 10,000 data in 1.0625970363616943
inserted 10,000 data in 0.9545562267303467
inserted 10,000 data in 0.9401512145996094
inserted 10,000 data in 0.9573054313659668
inserted 10,000 data in 1.037017822265625
inserted 10,000 data in 0.9402155876159668
inserted 10,000 data in 0.9361412525177002
inserted 10,000 data in 1.0338983535766602
inserted 10,000 data in 0.9393110275268555
inserted 10,000 data in 0.9574439525604248
inserted 10,000 data in 0.9835610389709473
inserted 10,000 data in 1.0471312999725342
inserted 10,000 data in 0.9636764526367188
inserted 10,000 data in 0.9703502655029297
inserted 10,000 data in 0.9666328430175781
inserted 10,000 data in 1.0561487674713135
inserted 10,000 data in 0.958784818649292
inserted 10,000 data in 0.9670863151550293
inserted 10,000 data in 0.9506926536560059
inserted 10,000 data in 1.03458571434021
inserted 10,000 data in 0.9506938457489014
inserted 10,000 data in 0.9659972190856934
inserted 10,000 data in 0.958017110824585
inserted 10,000 data in 1.039370059967041
inserted 10,000 data in 0.9357039928436279
inserted 10,000 data in 0.9592106342315674
inserted 10,000 data in 0.9552946090698242
inserted 10,000 data in 1.0473439693450928
inserted 10,000 data in 0.9724619388580322
inserted 10,000 data in 0.9836463928222656
inserted 10,000 data in 1.0343968868255615
inserted 10,000 data in 0.9460585117340088
inserted 10,000 data in 0.985454797744751
inserted 10,000 data in 0.9965569972991943
inserted 10,000 data in 1.0506823062896729
inserted 10,000 data in 0.9519281387329102
inserted 10,000 data in 0.945641040802002
inserted 10,000 data in 0.9348864555358887
inserted 10,000 data in 1.0383918285369873
inserted 10,000 data in 0.9946169853210449
inserted 10,000 data in 0.9647819995880127
inserted 10,000 data in 0.9673469066619873
inserted 10,000 data in 1.0838637351989746
inserted 10,000 data in 0.962226390838623
inserted 10,000 data in 0.9656939506530762
inserted 10,000 data in 1.0156888961791992
inserted 10,000 data in 1.083824872970581
inserted 10,000 data in 0.9542362689971924
inserted 10,000 data in 0.10431170463562012

StopIteration:

In [50]:
query = """
select count(1) from green_taxi_data """
pd.read_sql(query, con=engine)

    count
0  630918

In [52]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-24 08:24:33--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.105.230, 52.217.232.176, 52.217.135.0, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.105.230|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-01-24 08:24:34 (145 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [54]:
df = pd.read_csv("taxi+_zone_lookup.csv")

In [55]:
df.head

<bound method NDFrame.head of      LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]>

In [56]:
df.to_sql(name="zone", con=engine, if_exists='replace')

265